.importdefinitions_icon_definition, .processmanager_icon_executable_type_importdefinition {
    background: url(../img/definition.svg) center center no-repeat !important;
}

.importdefinitions_icon_settings {
    background: url(../img/settings.svg) center center no-repeat !important;
}

.importdefinitions_icon_provider {
    background: url(../img/provider.svg) center center no-repeat !important;
}

.importdefinitions_icon_mapping {
    background: url(../img/mapping.svg) center center no-repeat !important;
}

.td-icon[class*="pimcore_icon"] {
    background-position: left center!important;
}

.td-icon .x-grid-cell-inner {
    padding-left:25px;
}

.importdefinitions-edit-button {
    padding: 0px!important;
    background: none!important;
    border: none!important;
}