includes:
    - ../../vendor/phpstan/phpstan-doctrine/extension.neon
    - ../../vendor/phpstan/phpstan-symfony/extension.neon
    - ../../vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - ../../vendor/w-vision/import-definitions/phpstan.neon
