<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>ImportDefinitions</pluginName>
        <pluginNiceName>Import Definitions - W-Vision</pluginNiceName>
        <pluginDescription><![CDATA[Import Definitions allows you to create re-usable Definitions for Importing Objects]]></pluginDescription>
        <pluginVersion>1.2.0</pluginVersion>
        <pluginRevision>3</pluginRevision>
        <pluginBuildTimestamp>0</pluginBuildTimestamp>
        <pluginClassName>\ImportDefinitions\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/ImportDefinitions/lib</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>ImportDefinitions</namespace>
            <namespace>ProcessManager</namespace>
        </pluginNamespaces>
        <pluginJsPaths>
            <path>/plugins/ImportDefinitions/static/js/startup.js</path>
            <path>/plugins/ImportDefinitions/static/js/definition/panel.js</path>
            <path>/plugins/ImportDefinitions/static/js/definition/item.js</path>
            <path>/plugins/ImportDefinitions/static/js/definition/configDialog.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/abstractprovider.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/csv.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/sql.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/json.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/xml.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/abstract.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/href.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/multihref.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/defaultvalue.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/asseturl.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/assetsurl.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/quantityvalue.js</path>

            <path>/plugins/ImportDefinitions/static/js/setters/abstract.js</path>
            <path>/plugins/ImportDefinitions/static/js/setters/fieldcollection.js</path>
            <path>/plugins/ImportDefinitions/static/js/setters/objectbrick.js</path>
            <path>/plugins/ImportDefinitions/static/js/setters/classificationstore.js</path>
            <path>/plugins/ImportDefinitions/static/js/setters/localizedfield.js</path>

            <path>/plugins/ImportDefinitions/static/js/processmanager/type/importDefinition.js</path>
        </pluginJsPaths>
        <pluginCssPaths>
            <path>/plugins/ImportDefinitions/static/css/importdefinitions.css</path>
        </pluginCssPaths>
    </plugin>
</zend-config>
