<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>ImportDefinitions</pluginName>
        <pluginDescription><![CDATA[Import Definitions for Pimcore]]></pluginDescription>
        <pluginVersion>0.1</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp>0</pluginBuildTimestamp>
        <pluginClassName>\ImportDefinitions\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/ImportDefinitions/lib</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>ImportDefinitions</namespace>
        </pluginNamespaces>
        <pluginJsPaths>
            <path>/plugins/ImportDefinitions/static/js/startup.js</path>
            <path>/plugins/ImportDefinitions/static/js/pimcore/ClassTreePicker.js</path>
            <path>/plugins/ImportDefinitions/static/js/definition/panel.js</path>
            <path>/plugins/ImportDefinitions/static/js/definition/item.js</path>
            <path>/plugins/ImportDefinitions/static/js/definition/configDialog.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/abstractprovider.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/csv.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/sql.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/json.js</path>
            <path>/plugins/ImportDefinitions/static/js/provider/xml.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/abstract.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/objectbrick.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/classificationstore.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/href.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/multihref.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/defaultvalue.js</path>
            <path>/plugins/ImportDefinitions/static/js/interpreters/localizedfield.js</path>
        </pluginJsPaths>
        <pluginCssPaths>
            <path>/plugins/ImportDefinitions/static/css/importdefinitions.css</path>
        </pluginCssPaths>
    </plugin>
</zend-config>
